<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQL_cnstr" connectionString="data source=(localdb)\MSSQLLocalDB; initial catalog=ContactosDB; integrated security=true;"/>
    <add name="ACCESS_cnstr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Leandro\Documents\contactosdb.mdb;User Id=admin;Password=;"/>
  </connectionStrings>

  <appSettings>
    <add key="database" value="FILE"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>